.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #820263;
  color: white;
  padding-left: 10px;
  width: 100%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar li {
  padding: 10px;
}

.header {
  background-image: url(assets/vecteezy_modern-office-design-with-bright-window-view-generative-ai_25043641.jpg);
  height: 500px;
  background-position: center;
  display: flex;
}

.header-text {
  display: flex;
  flex-direction: column;
  background-color: #29172080;
  width: 500px;
  text-align: center;
  margin: auto;
  position: relative;
  height: 200px;
  color: white;
}

button {
  width: 20%;
  text-align: center;
  margin: auto;
  border: none;
  border-radius: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content h2 {
  font-size: 3rem;
}

.content ul {
  list-style: none;
}

.content li {
  font-size: 1.25rem;
}

.content p {
  font-size: 1.25rem;
}

#our-services {
  color: #d90368;
}

#about-us {
  color: #04a777;
}

#contact-us {
  color: #fb8b24;
}

footer {
  background-color: #820263;
  padding: 15px;
  color: white;
  text-align: center;
  width: 100%;
}
