.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #820263;
  color: white;
  padding-left: 10px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar li {
  padding: 10px;
}
